.photo_top{
  height: 380px;
  display: flex;
  justify-content: center;
}
.p-top-content{
  margin-top: 20px;
}
.c-heading-1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.row-p-top-content__trends{
  display: flex;
  justify-content: center;
  margin: 10px 10px 0 10px;
}
.c-content-item{
  width: 200px;
  height: 180px;
  margin: 0 15px;
}
.top_review_item{
  display: flex;
  width: 90px;
  height: 40px;
  background-color:rgb(255, 255, 133);
  border-radius:20px;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.review-item-top{
  display: block;
}
.c-more-read{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-more-read-item{
  font-size: 20px;
  height: 40px;
  width: 100px;
}
.p-top-content__review{
  height: 1370px;
  width: 1200px;
  margin: 0 auto;
}
.c-heading-2{
  margin-left: 100px;
  width: 670px;
  height: 35px;
  text-align: center;
}
.r-content-item{
  border: solid rgb(161, 161, 161) 1px;
  height: 240px;
  width: 800px;
  margin: 15px auto;
  display: flex;
}

.content-song{
  width: 320px;
  height: 160px;
  display: flex;
  justify-content: center;
}
.img-size_review-index-top{
  width: 200px;
  height: 111.5px;
  object-fit: cover
}
.review-song{
  width: 230px;
  height: 180px;
  margin-top: 40px;
}
.img-size_review-index{
  width: 230px;
  height: 125px;
  object-fit: cover;
}
.review-item{
  width: 90px;
  height: 40px;
  background-color:rgb(255, 255, 133);
  border-radius:20px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-content-item-under{
  width: 530px;
}
.review-right{
  width: 480px;
  height: 80px;
  display: flex;
  align-items: center;
}
.rigth-top{
  width: 480px;
  height: 50px;
  display: flex;
  align-items: center;
}
.review-usericon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.review-username{
  font-size: 15px;
  padding-left: 10px;
  width: 200px;
}
.review-star{
  text-align: center;
  margin: 0 10px;
}
.star_item{
  width: auto;
}
.review-content{
  width: 480px;
  height: 160px;
  position: relative;
}
.delete_img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 125px;
  right: 0;
}
.review-text{
  padding-right: 10px;
  font-size: 15px;
  word-wrap: break-word;
}
.review-index_title{
  font-size: 20px;
}
.rate_item{
}
.song_size{
}
.row-content_review-index{
  padding-top: 40px;
  background-color: rgb(245, 245, 245);
}