
<%= render "shared/header" %>

<div class="photo_top">
</div>
<div class="p-top-content p-top-content--first">
  <div class="p-top-content__inner">
    <h2 class="c-heading-1">
      Vocaviewで今注目の動画
    </h2>
    <div class="p-top-content__trends">
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
    </div>
    <div class="c-more-read">
      <a class="c-more-read-item" href="#">
        もっと見る
      </a>
    </div>
 </div>
</div>
<div>
<div class="p-top-content__review">
  <h2 class="c-heading-2">
    新着レビュー
  </h2>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
  <div class="r-content-item">
  </div>
</div>