
<%= render "shared/header" %>

<div class="photo_top">
</div>
<div class="p-top-content p-top-content--first">
  <div class="p-top-content__inner">
    <h2 class="c-heading-1">
      Vocaviewで今注目の動画
    </h2>
    <div class="p-top-content__trends">
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
      <div class="c-content-item">
      </div>
    </div>
    <div class="c-more-read">
      <a class="c-more-read-item" href="#">
        もっと見る
      </a>
    </div>
 </div>
</div>
<div>

<h2 class="c-heading-2">
  新着レビュー
</h2>
<div class="p-top-content__review">
  <% @reviews.each do |review| %>
    <div class="r-content-item">
      <div class="r-content-item-top">
        <div class="content-song">
          <div class="review-song"></div>
        </div>
        <div class="review-item">
          <%= link_to "レビュー", new_review_path ,class:"review-visit" %>
        </div>
      </div>
      <div class="r-content-item-under">
        <div class="review-right">
          <div class="rigth-top">
            <div class="review-usericon"></div>
            <div class="review-username">
            <%= link_to review.user.email, user_path(review.user.id) %>
            </div>
            <div class="review-star">★★★★★</div>
          </div>
        </div>
        <div class="review-content">
          <div class="review-text">
          <%= review.review_text %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>